@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fdfcf9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

main {
  flex: 1;
}

header {
  margin-bottom: 0;
  width: 100%;
}

.hero {
  position: relative;
  height: 40vh;
  overflow: hidden;
  z-index: 0;
}

.hero_img {
  position: absolute;
  background-image: url("../img/pavla_portfolio.jpg");
  background-position: 25% center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.intro {
  position: absolute;
  top: 42vh;
  font-size: 16pt;
  font-weight: 300;
  margin-left: 40px;
  max-width: 75%;
  padding: 20px 0;
}

.projektsiden,
.beskrivelse,
.om {
  padding-top: 100px;
}

header.projektsiden .nav_logo,
header.projektsiden nav a,
header.omsiden .nav_logo,
header.omsiden nav a,
header.kontaktsiden .nav_logo,
header.kontaktsiden nav a {
  color: black !important;
}

header.projektsiden .burger_menu span,
header.omsiden .burger_menu span,
header.kontaktsiden .burger_menu span {
  background-color: black !important;
}

#projekter {
  display: flex;
  padding: 0 2rem 4rem 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.grid_projekter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  text-align: center;
}

.grid_projekter img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 0.5px lightgrey;
}

.projekt a {
  color: black;
  text-decoration: none;
}

.projekt a:visited {
  color: black;
}

.projekt_navn {
  margin-top: 10px;
  font-weight: 400;
  font-size: 11pt;
}

/* om */

.om {
  display: grid;
  grid-template-columns: 1fr;
}

.om p{
  line-height: 1.5;
}

.tekst_om h1 {
  font-size: 22pt;
  font-weight: 700;
  margin-bottom: 20px;
}

.tekst_om {
  margin: 0 20px;
}

.img_om img {
  width: 100%;
  height: auto;
  justify-items: center;
  margin: 40px 0 20px 0;
  padding: 0 20px;
}

.praktikant {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 20px;
  max-width: 350px;
  margin: 20px auto;
}

.praktikant p {
  font-weight: 400;
  line-height: 2;
}

.kompetencer {
  margin: 0 20px 20px 20px;
}

.kompetencer h2 {
  margin: 20px 0 10px 0;
}

.kompetencer p {
  line-height: 1.5;
}

/* kontakt */

.kontakt {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 100px;
  padding: 20px;
  padding-bottom: 300px;
}

.kontakt h1 {
  font-size: 22pt;
  font-weight: 700;
  margin-bottom: 20px;
}

.kontakt p {
  line-height: 1.5;
}

.kontakt a {
  color: darkgrey;
  text-decoration: none;
}

.kontakt a:hover {
  color: darkgray;
  text-decoration: underline;
}

/* projekter siderne */

.beskrivelse {
  margin: 0 20px;
}

.beskrivelse h1 {
  font-size: 22pt;
  font-weight: 700;
}

.forklaring {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
}

.links_projekter {
  margin: 20px 0;
}

.links_projekter hr {
  margin: 10px 0;
}

.links_projekter_indhold {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 11pt;
}

.links_projekter_indhold img {
  width: 12px;
  height: auto;
}

.links_projekter_indhold a {
  color: black;
}

.links_projekter_indhold a:visited {
  color: black;
}

.img_projekt {
  width: 100%;
  height: auto;
  justify-items: center;
  margin: 40px 0 20px 0;
  border: solid 1px lightgrey;
}

.grid_en_projektsiden,
.grid_to_projektsiden,
.grid_tre_projektsiden {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  font-weight: 300;
  align-items: center;
  padding-bottom: 20px;
}

.grid_en_projektsiden h2,
.grid_to_projektsiden h2,
.grid_tre_projektsiden h2 {
  margin: 20px 0 10px 0;
  font-size: 16pt;
  font-weight: 600;
}

.grid_en_projektsiden p,
.grid_to_projektsiden p,
.grid_tre_projektsiden p {
  line-height: 1.5;
}

/* Egne projekt */
.egne_projekter{
  display: flex;
  margin: 40px
} 

.egne_projekter h1{
  font-size: 20pt;
margin: 70px 0 20px 0;
}

.egne_projekter_img{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 20px 40px;
}

.egne_projekter_img p {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  font-size: 10pt;
}

.egne_projekter_img img{
  width: 100%;
  height: auto;
  border: 0.8px solid lightgrey;
}
footer {
  height: 100%;
}

@media (min-width: 765px) {
  .intro {
    font-size: 18pt;
    margin-left: 40px;
    max-width: 60%;
    padding: 30px 0;
  }

  .projekt {
    margin-top: 40px;
  }
  /* om */
  .om {
    padding-top: 150px;
  }
  .grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: start;
    gap: 40px;
  }

  .tekst_om {
    margin-top: 20px;
  }

  .grid_projekter {
    grid-template-columns: repeat(2, 1fr);
  }

  .img_om img {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .kompetencer hr {
    max-width: 100%;
  }

  /*Kontakt*/
  .kontakt {
    max-width: 65%;
  }

  .kontakt a {
    color: black;
  }

  /*Projekt siderne*/

  .projekt_main {
    max-width: 1400px;
  }
  .beskrivelse {
    margin: 10px 20px;
  }

  .forklaring {
    margin: 20px 0 30px 0;
    font-size: 10pt;
  }

  .links_projekter hr {
    max-width: 45%;
  }
/* Egne projekter */
.egne_projekter {
  margin-top: 80px;
}

.egne_projekter h1{
  font-size: 20pt;
}

.egne_projekter p{
  line-height: 1.5;
  max-width: 80%;
  margin: 30px 0;
}

  .egne_projekter_img{
 display: grid;
 grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  header {
    position: absolute;
    top: 0;
  }

  .hero {
    position: relative;
    height: 75vh;
    overflow: hidden;
  }
  .hero_img {
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  .intro {
    position: absolute;
    top: 76vh;
    left: 150px;
    max-width: 50%;
    font-weight: 200;
    font-size: 30pt;
    margin: 20px 0;
  }

  #projekter {
    max-width: 900px;
    margin: 50px auto;
    padding: 140px 0;
  }

  .grid_projekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
  }

  .grid_projekter a {
    display: block;
  }

  .grid_projekter img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .grid_projekter img:hover {
    transform: scale(1.05);
  }

  /* om */

  .praktikant {
    margin: 20px 0;
  }

  .img_om img {
    max-width: 75%;
  }

  .kompetencer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .kompetencer hr {
    grid-column: span 2;
  }

  /*Kontakt*/
  .kontakt {
    max-width: 50%;
    margin: 150px 0px 40px 40px;
    padding-bottom: 280px;
  }

  /*projektersiderne*/

  .beskrivelse {
    margin: 30px 50px 0 50px;
  }

  .links_projekter hr {
    max-width: 35%;
  }

  .grid_en_projektsiden p{
    margin-top: 35px;
  }

  .grid_en_projektsiden,
  .grid_tre_projektsiden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: stretch;
    gap: 40px;
    margin: 0 50px;
  }

  .grid_en_projektsiden img {
    align-items: start;
  }

  .grid_to_projektsiden {
    grid-template-columns: 1fr;
    align-items: start;
    margin: 0 50px;
  }
  .grid_tre_projektsiden {
    margin-bottom: 50px;
  }

  .grid_to_projektsiden p {
    column-count: 2;
    column-gap: 40px;
    break-inside: avoid;
  }

  .grid_en_tekst {
    margin-top: 30px;
  }

  .img_projekt {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  /* Egne projekter */


  .egne_projekter {
    margin-top: 80px;
  }

  .egne_projekter h1{
    font-size: 24pt;
  }

  .egne_projekter p{
    line-height: 1.5;
    max-width: 70%;
    margin: 40px 0;
  }

  .egne_projekter_img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: masonry;
    gap: 40px;}
 
}

@media (min-width: 1300px) {
  #projekter {
    max-width: 1200px;
    margin: 50px auto;
    padding: 130px 0;
  }
}
