@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fdfcf9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

main {
  flex: 1;
}

header {
  margin-bottom: 0;
  width: 100%;
}

.hero {
  position: relative;
  height: 40vh;
  overflow: hidden;
  z-index: 0;
}

.hero_img {
  position: absolute;
  background-image: url("../img/pavla_portfolio.jpg");
  background-position: 25% center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.intro {
  position: absolute;
  top: 42vh;
  font-size: 16pt;
  font-weight: 300;
  margin-left: 20px;
  max-width: 75%;
}

.projektsiden,
.beskrivelse {
  padding-top: 100px;
}

header.projektsiden .nav_logo,
header.projektsiden nav a {
  color: black !important;
}

header.projektsiden .burger_menu span {
  background-color: black !important;
}

#projekter {
  display: flex;
  padding: 0 2rem 4rem 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.grid_projekter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.grid_projekter img {
  width: 80vw;
  height: auto;
  border-radius: 10px;
  border: solid 2px #000;
}

/* projekter siderne */

.beskrivelse {
  margin: 0 20px;
}

.beskrivelse h1 {
  font-size: 22pt;
  font-weight: 700;
}

.forklaring {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
}

.links_projekter {
  margin: 20px 0;
}

.links_projekter hr {
  margin: 10px 0;
}

.links_projekter_indhold {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 11pt;
}

.links_projekter_indhold img {
  width: 12px;
  height: auto;
}

.links_projekter_indhold a {
  color: black;
}

.links_projekter_indhold a:visited {
  color: black;
}

.img_projekt {
  width: 100%;
  height: auto;
  justify-items: center;
  margin: 40px 0 20px 0;
  border: solid 1px lightgrey;
}

.grid_en_projektsiden,
.grid_to_projektsiden,
.grid_tre_projektsiden {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  font-weight: 300;
  align-items: center;
}

.grid_en_projektsiden h2,
.grid_to_projektsiden h2,
.grid_tre_projektsiden h2 {
  margin: 20px 0 10px 0;
  font-size: 16pt;
  font-weight: 600;
}

footer {
  height: 100%;
}

@media (min-width: 765px) {
  .beskrivelse {
    margin: 10px 20px;
  }

  .forklaring {
    margin: 20px 0 30px 0;
    font-size: 10pt;
  }

  .links_projekter hr {
    max-width: 45%;
  }
}

@media (min-width: 1024px) {
  header {
    position: absolute;
    top: 0;
  }

  .hero {
    position: relative;
    height: 75vh;
    overflow: hidden;
  }
  .hero_img {
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  .intro {
    position: absolute;
    top: 76vh;
    left: 150px;
    max-width: 50%;
    font-weight: 200;
    font-size: 30pt;
    margin: 50px 0;
  }

  #projekter {
    max-width: 1200px; /* så grid’et ikke fylder hele skærmen */
    margin: 50px auto; /* centrer indholdet */
    padding: 150px 0; /* top og bund margin */
  }

  .grid_projekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
    gap: 50px; /* gutter: mellemrum mellem boksene */
    margin-top: 50px;
  }

  .grid_projekter a {
    display: block;
  }

  .grid_projekter img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .grid_projekter img:hover {
    transform: scale(1.05); /* lille zoom effekt ved hover */
  }

  /*projektersiderne*/

  .beskrivelse {
    margin: 30px 50px 0 50px;
  }

  .links_projekter hr {
    max-width: 35%;
  }

  .grid_en_projektsiden,
  .grid_tre_projektsiden {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 50px;
  }

  .grid_to_projektsiden {
    grid-template-columns: 1fr;
    margin: 0 50px;
  }
  .grid_tre_projektsiden {
    margin-bottom: 50px;
  }

  .grid_to_projektsiden p {
    column-count: 2;
    column-gap: 40px;
    break-inside: avoid;
  }

  .img_projekt {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}
